<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="d-flex">
      <!-- sidebar start -->
      <div class="sidebar">
        <ul class="sidebar-nav">
          <li>
            <div class="side-logo"></div>
          </li>
          <li>
            <span>
              <i class="fa-solid fa-house"></i>
            </span>
            <br />
            Dashboard
          </li>
          <li>
            <span>
              <i class="fa-solid fa-truck"></i>
            </span>
            <br />
            Cars
          </li>
        </ul>
      </div>
      <!-- sidebar end -->

      <div class="d-flex flex-column">
        <!-- navbar start -->
        <div class="navs">
          <div class="navbar-top">
            <ul class="d-flex gap-3">
              <li>
                <div class="logo"></div>
              </li>
              <li class="hamburger">
                <i class="fa-solid fa-bars"></i>
              </li>
            </ul>

            <!-- search -->
            <div class="d-flex">
              <div class="d-flex tukmargin">
                <div class="search-container">
                  <span id="search-icon"
                    ><i class="fa fa-search"></i
                  ></span>
                  <input
                    type="text"
                    id="search-input"
                    placeholder="Search"
                  />
                </div>
                <button class="btns btns-blue-outline">Search</button>
              </div>
              <!-- search -->

              <div class="d-flex">
                <div class="pict">U</div>
                <p class="name-account">
                  Unis Badri
                  <span class="icon-account">
                    <i class="fa-solid fa-angle-down"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- navbar end -->

        <div class="d-flex">
          <!-- nav-link start -->
          <div class="nav-link">
            <ul class="nav-link_list">
              <li class="nav-link__Cars">CARS</li>
              <li class="nav-link__List-Car">List Car</li>
            </ul>
          </div>
          <!-- nav-link end -->

          <!-- content start -->
          <div class="content-new">
            <div class="content-header">
              <div>
                <ul class="link-page d-flex gap-2">
                  <li>
                    <a href="">Cars</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                  </li>
                  <li>
                    <a class="fw-bold" href="/">List Cars</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                  </li>
                  <li>
                    <a href="">Add New Car</a>
                  </li>
                </ul>
              </div>
              <div class="create-btn">
                <h6 class="list-new-car-tag">Add New Car</h6>
              </div>
            </div>

            <div class="add-new-car">
              <ul class="list-label">
                <li>
                  Nama
                  <span class="text-danger">*</span>
                </li>
                <li>
                  Sewa Per Hari
                  <span class="text-danger">*</span>
                </li>
                <li>
                  Ukuran
                  <span class="text-danger">*</span>
                </li>
                <li>Foto</li>
              </ul>

              <form
                id="form-add-car"
                action="/api/v1/listcars/admin/create"
                method="post"
              >
                <ul class="list-input">
                  <li>
                    <input
                      type="text"
                      name="nama"
                      placeholder="Avanza"
                    />
                  </li>
                  <li>
                    <input
                      type="number"
                      name="sewaPerHari"
                      placeholder="Rp 0,-"
                    />
                  </li>
                  <li>
                    <select name="ukuran" id="" type="text">
                      <option selected>Small</option>
                      <option>Big</option>
                    </select>
                  </li>
                  <li>
                    <input
                      name="foto"
                      disabled
                      class="input-img"
                      type="text"
                      placeholder="https://placeimg.com/640/480/any"
                    />
                  </li>
                </ul>
                <div class="button-submit">
                  <a href="/" class="btns btns-blue-outline">
                    Cancel
                  </a>

                  <button
                    type="submit"
                    class="btns btns-blue-primary"
                    style="padding: 0.3rem 0.7rem; width: 4rem"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- content end -->
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
